/*Global*/
header, .wrapper, .nav_bar, footer {
    width: 85%;
    margin: 0 auto;
    text-align: center;
}


/*Nav bar*/
.nav_bar {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}


/*Blog Content*/
.wrapper {
    width: 70%;

    border-right: 1px solid black;
    border-left: 1px solid black;

    padding-bottom: 20px;
}

.wrapper .entry {
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid black;

    min-height: 300px;*/
}